%label{for: path, "ng-class": "{error: !fieldValid('#{path}')}" }= name

= select_tag path, options_for_select(options), attributes

%small.error.medium.input-text{"ng-show" => "!fieldValid('#{path}')"}
  = "{{ fieldErrors('#{path}') }}"
